
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    @*    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>


    <link src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" />
    <link src="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />

    <script defer src="https://code.jquery.com/jquery-3.5.1.js" /></script>
    <script defer src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" /></script>
    <script defer src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js" /></script>


    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="/css/Admin.css" asp-append-version="true" />
    <script src="/js/Admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container-fluid ps-0 pe-0 me-0" style="width:100%;">
        <div class="row d-flex">
            @*left-Side-bar*@
            <div class="col-3 col-md-2 d-md-block d-none d-sm-none" id="side-bar" style="min-height:100vh;">
                <div class="mt-4 col-12 d-md-none d-lg-block">
                    <lable class="sideheader fw-bold fs-6 text-white text-break">Navigationbar</lable>
                </div>
                <ul class="nav nav-pills flex-column mb-auto mt-3">
                    <li class="nav-item mt-2" >
                        <a class="nav-link text-white d-flex user" aria-current="page" onclick="User()">
                            <i class="bi bi-person-fill sidebar-img me-2"></i>
                            <lable class="d-block d-lg-block d-md-none">User</lable>
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="nav-link text-white d-flex page" onclick="Page()">
                            <i class="bi bi-file-earmark-text-fill sidebar-img me-2"></i>
                            <lable class="d-block d-lg-block d-md-none">CMS Page</lable>
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="nav-link text-white d-flex mission" onclick="Mission()">
                            <i class="bi bi-bullseye sidebar-img me-2"></i>
                            <lable class="d-block d-lg-block d-md-none">Mission</lable>
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="nav-link text-white d-flex theme " onclick="Theme()">
                            <i class="bi bi-grid-1x2-fill sidebar-img me-2"></i>
                            <lable class="d-block d-lg-block d-md-none">Mission Theme</lable>
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="nav-link text-white d-flex skills" onclick="Skills()">
                            <i class="bi bi-tools sidebar-img me-2"></i>
                            <lable class="d-block d-lg-block d-md-none">Mission Skills</lable>
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="nav-link text-white d-flex application" onclick="Application()">
                            <i class="bi bi-folder-fill sidebar-img me-2"></i>
                            <lable class="d-block d-lg-block d-md-none">Mission Application</lable>
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="nav-link text-white d-flex story" onclick="Story()">
                            <i class="bi bi-book-half sidebar-img me-2"></i>
                            <lable class="d-block d-lg-block d-md-none">Story</lable>
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="nav-link text-white d-flex management" onclick="Management()">
                            <i class="bi bi-border-style sidebar-img me-2"></i>
                            <lable class="d-block d-lg-block d-md-none">Banner Management</lable>
                        </a>
                    </li>
                </ul>
            </div>

            @*Right-top-bar*@
            <div class="col-12 col-md-10  d-block  px-0">

                <nav class="shadow d-flex col-md-12  col-sm-12  navbar ">

                    <div class="d-md-none d-sm-block">
                        <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" style=" border:none;background: white;">
                            <i class="bi bi-list fs-2"></i>
                        </button>
                    </div>

                    <div class="col-6">
                        <div id="dashboadtime" class="ms-3"></div>
                    </div>
                    @*DropDown*@
                    <div class="col-6 d-md-block d-none d-sm-none">
                        <div style="display:flex;justify-content:end;">
                            <div class="dropdown">
                                <button class="btn ms-auto me-3 dropdown-toggle" style="width:min-content;height:100%;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="/Image/user1.png" alt="mdo" width="40" height="40" class="rounded-circle loginimg" style="height:30px;width:30px;">
                                    Dropdown button
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a asp-area="User" asp-action="Login" asp-controller="User" class="dropdown-item">Log Out</a></li>
                                   
                                </ul>
                            </div>
                        </div>
                        
                    </div>

                </nav>
                @*offCanvas*@
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel" style="width:max-content;">
                    <div class="offcanvas-header" style="background-color:#f98635">
                        <h5 id="offcanvasTopLabel">Admin</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body pt-0" style="width:max-content;background:#f98635;">
                        
                        <ul class="nav nav-pills flex-column mb-auto mt-3">
                            <li class="nav-item mt-2">
                                <a href="#" class="nav-link text-white d-flex user" aria-current="page" onclick="User()">
                                    <i class="bi bi-person-fill sidebar-img me-2"></i>
                                    <lable class="d-block d-lg-block d-md-none">User</lable>
                                </a>
                            </li>
                            <li class="mt-2">
                                <a href="#" class="nav-link text-white d-flex page" onclick="Page()">
                                    <i class="bi bi-file-earmark-text-fill sidebar-img me-2"></i>
                                    <lable class="d-block d-lg-block d-md-none">CMS Page</lable>
                                </a>
                            </li>
                            <li class="mt-2">
                                <a href="#" class="nav-link text-white d-flex mission" onclick="Mission()">
                                    <i class="bi bi-bullseye sidebar-img me-2"></i>
                                    <lable class="d-block d-lg-block d-md-none">Mission</lable>
                                </a>
                            </li>
                            <li class="mt-2">
                                <a href="#" class="nav-link text-white d-flex theme" onclick="Theme()">
                                    <i class="bi bi-grid-1x2-fill sidebar-img me-2"></i>
                                    <lable class="d-block d-lg-block d-md-none">Mission Theme</lable>
                                </a>
                            </li>
                            <li class="mt-2">
                                <a href="#" class="nav-link text-white d-flex skills" onclick="Skills()">
                                    <i class="bi bi-tools sidebar-img me-2"></i>
                                    <lable class="d-block d-lg-block d-md-none">Mission Skills</lable>
                                </a>
                            </li>
                            <li class="mt-2">
                                <a href="#" class="nav-link text-white d-flex application" onclick="Application()">
                                    <i class="bi bi-folder-fill sidebar-img me-2"></i>
                                    <lable class="d-block d-lg-block d-md-none">Mission Application</lable>
                                </a>
                            </li>
                            <li class="mt-2">
                                <a href="#" class="nav-link text-white d-flex story" onclick="Story()">
                                    <i class="bi bi-book-half sidebar-img me-2"></i>
                                    <lable class="d-block d-lg-block d-md-none">Story</lable>
                                </a>
                            </li>
                            <li class="mt-2">
                                <a href="#" class="nav-link text-white d-flex management" onclick="Management()">
                                    <i class="bi bi-border-style sidebar-img me-2"></i>
                                    <lable class="d-block d-lg-block d-md-none">Banner Management</lable>
                                </a>
                            </li>
                            <li>
                                <div class="dropdown" style="box-shadow:none">
                                    <button class="btn ms-auto me-3 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="/Image/volunteer6.png" width="40" height="40" class="rounded-circle loginimg" style="height:30px;width:30px;">
                                        Dropdown button
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a asp-area="User" asp-action="Login" asp-controller="User" class="dropdown-item">Log Out</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

                <div id="Admin">
                </div>

            </div>

        </div>

    </div>
</body>
</html>


@*--------------------------------------------------------------------------------*@
