<style>
    .ftr {
        bottom: 10px;
        margin-top:10px;
    }

</style>
<body>
    <div class="footer ftr">
        <hr class="m-0"/>
        <footer>
            <div class="container d-flex mb-2 mt-2">
                <div class="mx-2"><a asp-controller="Home" asp-action="Policy" style="text-decoration:none;">Privacy Policy</a></div>
                <div class="mx-2">Contact us</div>
                <div class="ms-auto">Privacy</div>
            </div>
        </footer>
    </div>
</body>
