 
.input {
    padding: 5px;
    margin-bottom: 5px;
    outline: none;
}

.form,.label {
    margin: 10px;
}
.applied-div {
    position: absolute;
    left: 0px;
    top: 8px;
    padding: 5px 10px;
    color: white;
    background-color: rgba(0, 255, 97, 0.6);
    font-size: 14px;
}
.modal {
    background-color: rgba(0,0,0,0.5);
}
.close-div {
    position: absolute;
    left: 0px;
    bottom: 28px;
    padding: 5px 10px;
    color: white;
    background-color: rgb(209 35 35);
    font-size: 14px;
}
#myItem{
    display:flex;
}
#list-view{
    display:none;
}


@media screen and (max-width:992px) {
    #myItem{ 
        display:flex!important;
    }
    #list-view{
        display:none!important;
    }
    #grid{
        display:none;
    }
    #list{
        display:none;
    }

}


    @media screen and (min-width:767px) {
    .btn, #offcanvasWithBothOptions {
        display: none;
    }


    .hamburger,
    #offcanvasWithBothOptions,
    #filteroffcanvasWithBothOptions {
        display: none;
    }

    .nav-brand {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .first-nav {
        display: none;
    }

    .user-profile {
        display: none;
    }

    .second-div {
        display: none;
    }
}
/* @media screen and (max-width:1023px) {
    .sort-list-grid {
        display: none !important;
    }

} */
.offcanvas1 {
    width: max-content !important;
}

.header {
    border-bottom: 1px solid #d8d6d6;
}

.offcanvas2 {
    width: max-content !important;
}

.form-control {
    border: none !important;
}

.div {
    /* border: 1px solid black; */
}

.vertical {
    border-left: 6px solid black;
    height: 100px;
    position: absolute;
    left: 50%;
}

.offcanvas {
    width: fit-content;
}

.filter-item {
    border-left: 1px solid #d8d6d6;
}

.header2 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 1px solid #d8d6d6;
}

.filter-item-skill {
    border-right: 1px solid #d8d6d6;
}

.sortaerrow {
    margin-top: 10%;
}

.sort {
    border: 1px solid grey;
    height: max-content;
}

.sortby {
    width: max-content;
}

.grid {
    background-color: #E8E8E8;
    border-radius: 15px;
    padding: 3%;
    border: none;
}

.list {
    border: none;
    background-color: white;
}

.theme-btn {
    border-radius: 22px;
    background-color: white;
    border: white;
    z-index: 1;
    top: 95%;
    left: 35%;
    position: absolute !important;
}

.theme-btn-div {
    text-align: center;
    margin-top: -14px;
}

.img-event {
    position: relative;
    text-align: center;
    color: black;
}

.card {
    margin-bottom: 1rem;
    padding-bottom: 0.7rem;
}

.card-img {
    position: relative;
}

    .landing-page-top-right {
        position: absolute;
        top: 8px;
        right: 16px;
        padding: 5px 10px;
        border-radius: 30px;
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
    }

    .landing-page-bottom-right {
        position: absolute;
        bottom: 25px;
        right: 21px;
    }

    .landing-page-btn-img {
        border: none;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 30px;
        padding: 6px;
    }

.rule {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
}

hr {
    flex: 1;
    border: none;
    height: 2px;
    background: black;
}

.date-btn {
    border-radius: 22px;
    background-color: white;
}

.Apply-btn {
    border: 2px solid #F88634;
    width: auto;
    height: auto;
    border-radius: 24px;
    background-color: white;
    color: #F88634;
}
    /*.Apply-btn:hover {
        color: #FFFFFF!important;
        background-color: #F88634;
    }*/

    .card-img {
        height: 33vh; 
    }

/*.theme {
    border: 2px solid black; 
    border-radius: 25px;
    width: fit-content;
    justify-items: center;
    padding: 0.3rem;

    margin-left: 33%;
    background: white;
    margin-top: -20px;
}*/
.pagination {
    justify-content: center !important;
    display: flex !important;
}

/* 
@media screen and (min-width:1400px) {
    .card-img {
        height: 44vh !important;
    }
} */
/* @media screen and (min-width:1200px) and (max-width:1440px) {
    .card-img {
        height: 44vh !important;
    }
} */
@media screen and (max-width:480px) {
    .list {
        display: none;
    }

    .grid {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .list {
        display: none;
    }

    .grid {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .card-img-top {
        height: 52vh !important;
    }
}

div.modal-backdrop.fade.show {
    display: none;
}




/*.filter-close-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    color: #888;
}
*/



.list-view .row > [class*=col-] {
    max-width: 100%;
}

.list-view .card {
    flex-direction: row;
}

@media (max-width: 575.98px) {
    .list-view .card {
        flex-direction: column;
    }
}

.list-view .card > .card-img-top {
    width: auto;
}

.list-view .card .card-body {
    display: inline-block;
}

.card-body {
    padding: 1%;
}


/*.filters-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    color: #888;
}
Button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    color: #888;
}
*/
.filter-list {
    border: 2px solid !important;
    border-radius: 22px !important;
}

.filter-close-button {
    background-color: transparent;
    border: none;
}

.dropdown ul li a:hover {
    background: #2581DC;
    color: #ffffff;
}

.dropdown ul li a::selection {
    background-color: #4CAF50;
    color: #fff;
}

/*For List view*/

.card-img-container {
    position: relative;
}

.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 15px;
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    border-radius: 15px;
    padding: 5px 10px;
}

.bottom-up {
    position: absolute;
    bottom: 65px;
    right: 15px;
    /*background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    border-radius: 15px;
    padding: 5px 10px;*/
}

.top-right {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    border-radius: 15px;
    padding: 5px 10px;
}

.login-btn {
    border-radius: 24px;
    color: #F88634;
    background-color:white;
}

    .login-btn:hover {
        color: #FFFFFF ;
        background-color: #F88634 ;
    }

#theme-btn {
    position: absolute;
    left: 100px;
    bottom: -12px;
    background: white;
    border-radius: 50px;
}
#aply-btn {
    border: 1px solid orange;
    padding: 8px;
    border-radius: 20px
}
/*box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}*/

/*header stylesheet*/
/*.user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.user-inner-img {
    object-fit: cover;
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
}

.profile {
    border: none;
    padding: 5px;
    border-radius: 2px;
    background-color: #FFFFFF;
}

    .profile:hover, .navbar-brand:hover, .nav-item:hover, .filter-dropdown:hover {
        background-color: #DADADA;
        border-radius: 5px;
    }

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    max-height: 180px;
    overflow-y: scroll;
}

.searchbar {
    position: relative;
    padding-inline-start: 10px;
    margin-left: 40px !important;
}

input[name="searchUser"]:focus {
    border: none !important;
}

.search-icon {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

@media screen and (max-width:575px) {
    .profile span, .profile > img {
        display: none;
    }
}*/

/*for filter tag */
/*.filter-list {
    border: 1px grey solid;
}*/
/*style for card in home page*/
/*

.text {
    position: relative;
    display: flex;
    justify-content: center;
}

    .text span {
        position: absolute;
        top: -15px;
        background-color: #FFFFFF;
        border-radius: 15px;
    }



.top-left-applied {
    position: absolute;
    top: 15px;
    left: 0px;
    background-color: forestgreen;
    color: #FFFFFF;
    border-radius: 0px 15px 15px 0px;
    padding: 5px 10px;
}

.top-left-closed {
    position: absolute;
    top: 15px;
    left: 0px;
    background-color: #F88634;
    color: #FFFFFF;
    border-radius: 0px 15px 15px 0px;
    padding: 5px 12px;
}







#grid-view {
    display: block;
}

#list-view {
    display: none;
}

.progress {
    height: 10px;
}

.progress-bar, .pagination .page-item.active .page-link {
    background-color: #F88634 !important;
    border-color: #F88634 !important;
}

.list-data, .card {
    border-radius: 5px;

@media screen and (max-width:767px) {
    #grid-view {
        display: block !important;
    }

    #list-view {
        display: none !important;
    }

    .grid-list-area {
        display: none !important;
    }
}*/

/*for rating */
/*.starFade {
    background-image: url('../images/star.png');
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    cursor: pointer;
}

.starFadeN {
    background-image: url('../images/star.png');
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
}

.starGlow {
    background-image: url('../images/selected-star.png');
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    cursor: pointer;
}

.starGlowN {
    background-image: url('../images/selected-star.png');
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
}*/

/* side bar*/
/*.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
    z-index: 1000;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}*/

/*filter sided bar*/
/*.sidefilter {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
    z-index: 1000;
}

    .sidefilter a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidefilter .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidefilter {
        padding-top: 15px;
    }

        .sidefilter a {
            font-size: 18px;
        }
}

.form-check-input:checked {
    background-color: #F88634;
    border: #F88634;
}

#country-contant ul, #city-contant ul, #theme-contant ul, #skill-contant ul {
    list-style: none;
}*/

/*form ecommerce gallery*/
/*.mySlides {
    display: none;
    height: 80%;
}

    .mySlides img {
        height: 100%;
        object-fit: fill;
    }

.slides-img-media {
    height: 500px;
}

@media screen and (max-width:575px) {
    .slides-img-media {
        height: 300px;
    }
}*/
/* Add a pointer when hovering over the thumbnail images */
/*.cursor {
    cursor: pointer;
}*/
/* Next & previous buttons */
/*.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 10px 5px;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    z-index: 1;
}*/

/* Position the "next button" to the right */
/*.next {
    right: 0;
}*/

/* On hover, add a black background color with a little bit see-through */
/*.prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }*/

/* Number text (1/3 etc) */
/*.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}*/

/* Six columns side by side */
/*.column {
    width: 16.66%;
}*/

/* Add a transparency effect for thumnbail images */
/*.demo {
    opacity: 0.8;
}

    .active, .demo:hover {
        opacity: 1;
    }

.thumbnails-img {
    overflow-x: scroll;
    white-space: nowrap;
}

    .thumbnails-img .column {
        display: inline-block;
    }

::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }*/

/*rating*/
/*.rating1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

    .rating1 > input {
        display: none;
    }

    .rating1 > label {
        position: relative;
        width: 1.1em;
        font-size: 200%;
        color: grey;
        cursor: pointer;
    }

        .rating1 > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0;
            color: #FFD700;
        }

        .rating1 > label:hover:before, .rating1 > label:hover ~ label:before {
            opacity: 1 !important;
            color: #FFD700;
        }

    .rating1 > input:checked ~ label:before {
        opacity: 1;
    }

    .rating1:hover > input:checked ~ label:before {
        opacity: 0.4;
    }*/


/*addfav command recommend*/
/*#recommend, #addFav {
    border-radius: 20px;
}

    #addFav:hover, #recommend:hover {
        background-color: #DADADA;
    }

.rating {
    position: relative;
    display: flex;
    justify-content: center;
}

    .rating div {
        position: absolute;
        top: -15px;
        background-color: #FFFFFF;
        border-radius: 15px;
    }*/

/*card area */
/*.cardin-mission {
    height: 120px;
    position: relative;
}

.cardin-mission-img {
    position: absolute;
    top: 10px;
}

.cardin-mission-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
}*/

/*tab style area */
/*.nav-tabs .active {
    border: none;
    border-bottom: 2px solid black !important;
    color: black !important;
    font-weight: 500;
    box-shadow: none;
}

.document-links a {
    border-radius: 20px;
    text-decoration: none;
    width: 10rem;
    display: inline-flex;
    justify-content: center;
}

.comment-div {
    background-color: #00000007;
    overflow-y: scroll;
    white-space: nowrap;
}

    .comment-div .comment-details {
        background-color: white;
    }

.comment-text {
    white-space: break-spaces;
}

.comment-details .row .col-2 .volunteer-img {
    width: 55px;
    height: 55px
}

.comment-div {
    max-height: 350px;
}

@media screen and (max-width:480px) {
    .comment-details .row .col-2 .volunteer-img {
        width: 40px;
        height: 40px
    }
}

::-webkit-scrollbar {
    width: 5px;
}*/

/*recent volunteer*/
/*.volunteer-img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.volunteer-inner-img {
    object-fit: cover;
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
}*/

/*related mission */
/*.related-mission-row {
}*/



/*image template input volunteering story page*/
/*.img-template {
    height: 300px;
}

.img-template-inner {
    height: 300px;
    object-position: center;
    object-fit: cover;
    position: absolute;
    top: 0px;
}

.img-template-text {
    position: absolute;
    top: 0px;
    z-index: 5;
    color: #ffffff;
    background-color: rgb(0, 0, 0, 0.5);
    height: 300px;
    width: 100%;
}

.share-story-btn, .view-story-btn {
    border-radius: 20px;
}*/

/*story card*/
/*.img-story-inner {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.view-story-btn-div {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
}

.story-image-area {
    background-color: black;
    border-radius: 5px;
}

    .story-image-area:hover .img-story-inner {
        opacity: 0.5;
    }

    .story-image-area:hover .view-story-btn-div {
        opacity: 1;
    }*/

/* text editor for share story */


/* drag and drop */
/*.input-div {
    width: 100%;
    height: 120px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px dotted lightgrey;
    background-color: white;
    position: relative;
}

.file {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

output {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
}

    output .image {
        height: 150px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        position: relative;
    }

        output .image img {
            height: 100%;
            width: 100%;
        }

        output .image span {
            position: absolute;
            top: -4px;
            right: 4px;
            cursor: pointer;
            font-size: 22px;
            color: white;
        }

            output .image span:hover {
                opacity: 0.8;
            }

    output .span--hidden {
        visibility: hidden;
    }*/

/*edit user  profile*/
/*.edituser-img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.edituser-inner-img {
    object-fit: cover;
    position: absolute;
    top: -40%;
    left: -25%;
    width: 150%;
}

.modal-footer button[data-dismiss="modal"]:hover {
    background-color: lightgray;
}*/

/*privacy policy*/
/*.privacyTitle a:hover, .privacyTitle a:active {
    color: black !important;
    font-weight: 500;
}

#titlePolicyTab {
    position: sticky !important;
    top: 30px !important;
}*/


